# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environments (the most important part!)
.venv/
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables (Private keys/Secrets)
.env